@media (max-width: 996px) {
  .pinguin-img {
    display: flex !important;
    justify-content: center !important;
  }
  .img-hero {
    width: 25rem;
    height: auto;
  }
  .cupcake-flavours {
    margin-top: 4rem;
  }
}
@media (max-width: 586px) {
  .testimonials-text {
    max-width: 100%;
  }
}

@media (max-width: 475px) {
  .img-hero {
    max-width: 100%;
    height: auto;
  }
}