@media (max-width: 996px) {
  .pinguin-img {
    display: flex !important;
    justify-content: center !important;
  }
  .img-hero {
    width: 25rem;
    height: auto;
  }
}
@media (max-width: 586px) {
  .testimonials-text {
    max-width: 100%;
  }
}
