@media (max-width: 1610px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1345px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 996px) {
  .pinguin-img {
    display: flex !important;
    justify-content: center !important;
  }
  .img-hero {
    width: 25rem;
    height: auto;
  }
  .cupcake-flavours {
    margin-top: 4rem;
  }
}
@media (max-width: 875px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 845px) {
  .top-hero-sec {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 586px) {
  .testimonials-text {
    max-width: 100%;
  }
  .testimonials-text-container {
    height: 13rem;
  }
  .gallery-item img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 545px) {
  .gallery {
    grid-template-columns: 1fr;
  }
  .gallery-item img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 400px) {
  .img-hero {
    max-width: 100%;
    height: auto;
  }
  
  body {
    margin: 0;
  }
  .testimonials-text-container {
    height: 15rem;
  }
  .top-hero-sec {
    display: flex;
    flex-direction: column;
  }
}
