/*
html {
color: #e0f3ee;
color: #f4ba9e;
color: #f9f5f5;
color: #d6ede9;
color: #fcfcfb;
color: #989258;
color: #c6ad44;
color: #ebf5f1;
color: #bab991;
color: #333;
}
*/
.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #c6ad44;
  font-size: 3rem !important;
}
.top-bg-img {
  background: url(../img/backgroung-image.avif) center center no-repeat;
  background-size: cover;
}
.nav-bg {
  background: rgb(252, 252, 251);
  background: linear-gradient(
    90deg,
    rgba(252, 252, 251, 1) 30%,
    rgba(198, 173, 68, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
}
.nav-link {
  color: #141414 !important;
}
.hero-text {
  font-family: "Dancing Script", cursive;
}
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #141414 !important;
  font-size: 1.5rem;
}
.main-text-hero {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: #141414 !important;
  font-size: 1.8rem !important;
  margin-bottom: 2rem;
  border-bottom: solid 1px #989258;
}
